@tailwind base;
@tailwind components;
@tailwind utilities;


.project-table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.project-item {
  border: 1px solid #ccc;
  padding: 1rem;
  text-align: center;
}

.project-item img {
  max-width: 100%;
  height: auto;
}

.nav a.active {
  color: #ddd;
  font-weight: bold;
}

.background {
    background-image: url(https://lh3.googleusercontent.com/pw/ADCreHfNa0RiyQk654iXSaxGAhd-c7k-nJ7egxfYe4DJowijzbGhX8eYpsz7Hzd-9ZKvo1kpMXF8d3G-hvpC1rWekG4TWEUKxASp8iLdwvtBbzh854-ZeptaDxFIpeOdnVDxq1dN6BbNOsWDyaZQsdkDcPHCWQ=w1880-h1410-s-no?authuser=0);
    background-size: cover;
    background-position: center;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    color: purple;
    font-family: Arial, Helvetica, sans-serif
}

.foreground {

  background-color: rgba(128, 128, 128, .65);

}
.project-card {
  background-color: rgba(128, 128, 128, .5);

  width: 300px;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  text-align: center;
}

.project-image {
  width: 100%;
  height: auto;
}

#gratitudecaption {
  background-color: rgba(128, 128, 128, .65);
  color: black;
}

.tech-stack {
  list-style: none;
  padding: 0;
}

.tech-stack li {
  display: inline;
  margin-right: 5px;
}

.project-link {
  display: block;
  margin-top: 10px;
}
.contact-page {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.contact-page .card {
  margin: 10px;
}
.project-list {
  display: flex;
  
}