
body {
    background-color: cyan
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-weight: bold;
}

ul {
    
    text-align: center;
}

.completed {
    text-decoration: line-through;
}

.add-task {
    text-align: center
}